# DB config
DATABASE_HOST=tinvest-analytics-mysql
DATABASE_PORT=3306
DATABASE_NAME=tinvest_analytics
DATABASE_USERNAME=admin
DATABASE_PASSWORD=111111

# Memcached
MEMCACHED_HOST=tinvest-analytics-memcached
MEMCACHED_PORT=11211
MEMCACHED_WEIGHT=16

# RabbitMQ
RABBITMQ_HOST=tinvest-analytics-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbit
RABBITMQ_PASSWORD=111111
RABBITMQ_VHOST=/

# Auth
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_ISS=
JWT_AUD=

ACCESS_TTL=900
REFRESH_TTL=2592000
COOKIE_PATH=/api

# WebSocket
WS_PORT=8081
