# DB config
DATABASE_HOST=tinvest-analytics-mysql
DATABASE_PORT=3306
DATABASE_NAME=tinvest_analytics
DATABASE_USERNAME=admin
DATABASE_PASSWORD=111111

# Memcached
MEMCACHED_HOST=tinvest-analytics-memcached
MEMCACHED_PORT=11211
MEMCACHED_WEIGHT=16

# Beanstalk
BEANSTALK_HOST=tinvest-analytics-beanstalkd
BEANSTALK_PORT=11300
BEANSTALK_TIMEOUT=10

# Auth
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_ISS=
JWT_AUD=

ACCESS_TTL=900
REFRESH_TTL=2592000
COOKIE_PATH=/api
